.title, .texto{
  text-align: center;
  color: #ccc;
}

.card{
  margin-top: 2em;
  border: solid 1px gainsboro;
    box-shadow: 0 2px 2px gainsboro;
    width: 60%;
    color: #ccc;
    margin-left: 7rem;

}

.card-titulo, .card-descripcion{
  text-align: center;
}

.cards{
  display: grid;
  grid-template-areas: 
  "card card card"
  "card card card"
  "footer footer footer"
  ;
}

.footer{
  margin-top: 2rem;
}
