.title{
  text-align: center;
  color: #ccc;
}

.card{
  border: solid 1px gainsboro;
    box-shadow: 0 2px 2px gainsboro;
    max-width: 100%;
    padding-top: 2em;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ccc;

}

.card-titulo, .card-descripcion{
  text-align: center;
}

.cards{
  display: grid;
  grid-template-areas: 
  "card card card"
  "card card card"
  "footer footer footer"
  ;
  gap: 2rem;
}
